{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Li-Ca system. This potential is gtinv-598 potential in Li-Ca-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 1.089 meV/atom and 0.0122 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 2.3 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p5_LiCa__MO_020031220598_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Li" "Ca"]
 "title" "Polynomial machine learning potential for Li-Ca developed by Seko (2022) v000"
 }
