{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Ga-Sn system. This potential is gtinv-257 potential in Ga-Sn-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 1.981 meV/atom and 0.0335 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.79 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p4_GaSn__MO_020022520257_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Ga" "Sn"]
 "title" "Polynomial machine learning potential for Ga-Sn developed by Seko (2022) v000"
 }
