{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_KAg__MO_020048820272_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["K" "Ag"]
 "title" "Polynomial machine learning potential for K-Ag developed by Seko (2022) v000"
 }
