{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Li-Bi system. This potential is gtinv-182 potential in Li-Bi-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 4.25 meV/atom and 0.0502 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.52 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p1_LiBi__MO_020030320182_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Li" "Bi"]
 "title" "Polynomial machine learning potential for Li-Bi developed by Seko (2022) v000"
 }
