{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Al-In system. This potential is gtinv-725 potential in Al-In-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 3.151 meV/atom and 0.0405 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.48 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p3_AlIn__MO_020006520725_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Al" "In"]
 "title" "Polynomial machine learning potential for Al-In developed by Seko (2022) v000"
 }
