{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for K-Ag system. This potential is gtinv-182 potential in K-Ag-2022-10-13 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 1.953 meV/atom and 0.0204 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.52 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p3_KAg__MO_020024520182_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["K" "Ag"]
 "title" "Polynomial machine learning potential for K-Ag developed by Seko (2022) v000"
 }
