{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_MgSi__MO_020083220436_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Mg" "Si"]
 "title" "Polynomial machine learning potential for Mg-Si developed by Seko (2022) v000"
 }
