{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2024_Cr__MO_010016300281_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Cr"]
 "title" "Polynomial machine learning potential for Cr developed by Seko (2024) v000"
 }
