{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Bi system. This potential is polymlp-00188 potential in Bi-2024-06-05 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 4.407 meV/atom and 0.0706 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.44 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p1_Bi__MO_010002900188_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Bi"]
 "title" "Polynomial machine learning potential for Bi developed by Seko (2024) v000"
 }
