{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_AlV__MO_020021720135_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Al" "V"]
 "title" "Polynomial machine learning potential for Al-V developed by Seko (2022) v000"
 }
