{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Al system. This potential is polymlp-00035 potential in Al-2024-06-05 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 4.519 meV/atom and 0.0463 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.13 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p1_Al__MO_010000500035_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Al"]
 "title" "Polynomial machine learning potential for Al developed by Seko (2024) v000"
 }
