{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Al system. This potential is polymlp-00165 potential in Al-2024-06-05 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 1.147 meV/atom and 0.0252 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 4.94 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p5_Al__MO_010000900165_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Al"]
 "title" "Polynomial machine learning potential for Al developed by Seko (2024) v000"
 }
