{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Si-In system. This potential is gtinv-203 potential in Si-In-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 2.301 meV/atom and 0.0482 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 2.86 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p4_SiIn__MO_020051120203_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Si" "In"]
 "title" "Polynomial machine learning potential for Si-In developed by Seko (2022) v000"
 }
