{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_AgPb__MO_020004710051_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Ag" "Pb"]
 "title" "Polynomial machine learning potential for Ag-Pb developed by Seko (2022) v000"
 }
