{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_MgAg__MO_020073120725_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Mg" "Ag"]
 "title" "Polynomial machine learning potential for Mg-Ag developed by Seko (2022) v000"
 }
