{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2024_Pt__MO_010036400281_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Pt"]
 "title" "Polynomial machine learning potential for Pt developed by Seko (2024) v000"
 }
