{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Zn system. This potential is polymlp-00038 potential in Zn-2024-06-05 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 4.258 meV/atom and 0.0287 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.15 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p1_Zn__MO_010021600038_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Zn"]
 "title" "Polynomial machine learning potential for Zn developed by Seko (2024) v000"
 }
