{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_KPb__MO_020053410052_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["K" "Pb"]
 "title" "Polynomial machine learning potential for K-Pb developed by Seko (2022) v000"
 }
