{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Li-Be system. This potential is gtinv-411 potential in Li-Be-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 2.582 meV/atom and 0.0456 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.86 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p3_LiBe__MO_020030220411_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Li" "Be"]
 "title" "Polynomial machine learning potential for Li-Be developed by Seko (2022) v000"
 }
