{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Ge system. This potential is polymlp-00049 potential in Ge-2024-06-05 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 2.571 meV/atom and 0.051 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 2.31 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p4_Ge__MO_010006700049_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Ge"]
 "title" "Polynomial machine learning potential for Ge developed by Seko (2024) v000"
 }
