{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2024_Sn__MO_010011000166_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Sn"]
 "title" "Polynomial machine learning potential for Sn developed by Seko (2024) v000"
 }
