{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Sr-Pb system. This potential is gtinv-260 potential in Sr-Pb-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 2.804 meV/atom and 0.0366 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.17 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p3_SrPb__MO_020053220260_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Sr" "Pb"]
 "title" "Polynomial machine learning potential for Sr-Pb developed by Seko (2022) v000"
 }
