{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Al-V system. This potential is gtinv-135 potential in Al-V-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 9.684 meV/atom and 0.1475 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.73 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p1_AlV__MO_020011120135_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Al" "V"]
 "title" "Polynomial machine learning potential for Al-V developed by Seko (2022) v000"
 }
