{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_LiPb__MO_020067820182_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Li" "Pb"]
 "title" "Polynomial machine learning potential for Li-Pb developed by Seko (2022) v000"
 }
