{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Ir system. This potential is polymlp-00192-hybrid-0004 potential in Ir-2024-06-10-hybrid taken from Polynomial MLP Repository. The RMS errors for energy and forces are 2.828 meV/atom and 0.107 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 3.57 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p1hybrid_Ir__MO_110001919204_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Ir"]
 "title" "Polynomial machine learning potential for Ir developed by Seko (2024) v000"
 }
