{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Li-Ti system. This potential is gtinv-257 potential in Li-Ti-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 6.562 meV/atom and 0.1004 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.79 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p1_LiTi__MO_020035620257_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Li" "Ti"]
 "title" "Polynomial machine learning potential for Li-Ti developed by Seko (2022) v000"
 }
