{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for K-Cu system. This potential is gtinv-257 potential in K-Cu-2022-10-13 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 1.118 meV/atom and 0.0158 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.79 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p3_KCu__MO_020025420257_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["K" "Cu"]
 "title" "Polynomial machine learning potential for K-Cu developed by Seko (2022) v000"
 }
