{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_BeSn__MO_020027620441_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Be" "Sn"]
 "title" "Polynomial machine learning potential for Be-Sn developed by Seko (2022) v000"
 }
