{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2024_Au__MO_010006900136_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Au"]
 "title" "Polynomial machine learning potential for Au developed by Seko (2024) v000"
 }
