{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for K-In system. This potential is pair-51 potential in K-In-2022-10-13 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 3.965 meV/atom and 0.0425 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.12 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p1_KIn__MO_020026110051_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["K" "In"]
 "title" "Polynomial machine learning potential for K-In developed by Seko (2022) v000"
 }
