{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Mg-Sc system. This potential is gtinv-257 potential in Mg-Sc-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 2.07 meV/atom and 0.0414 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.79 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p3_MgSc__MO_020041320257_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Mg" "Sc"]
 "title" "Polynomial machine learning potential for Mg-Sc developed by Seko (2022) v000"
 }
