{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_ZnGe__MO_020112110050_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Zn" "Ge"]
 "title" "Polynomial machine learning potential for Zn-Ge developed by Seko (2022) v000"
 }
