{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_LiSi__MO_020069220441_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Li" "Si"]
 "title" "Polynomial machine learning potential for Li-Si developed by Seko (2022) v000"
 }
