{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_TiGe__MO_020029420436_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Ti" "Ge"]
 "title" "Polynomial machine learning potential for Ti-Ge developed by Seko (2022) v000"
 }
