{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Ga-Ag system. This potential is pair-51 potential in Ga-Ag-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 4.798 meV/atom and 0.0625 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.12 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p1_GaAg__MO_020021710051_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Ga" "Ag"]
 "title" "Polynomial machine learning potential for Ga-Ag developed by Seko (2022) v000"
 }
