{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Ca-Ge system. This potential is gtinv-260 potential in Ca-Ge-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 3.42 meV/atom and 0.0591 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.17 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p2_CaGe__MO_020016620260_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Ca" "Ge"]
 "title" "Polynomial machine learning potential for Ca-Ge developed by Seko (2022) v000"
 }
