{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Al-Ge system. This potential is gtinv-827 potential in Al-Ge-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 2.802 meV/atom and 0.0513 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.18 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p3_AlGe__MO_020006020827_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Al" "Ge"]
 "title" "Polynomial machine learning potential for Al-Ge developed by Seko (2022) v000"
 }
