{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Hg system. This potential is polymlp-00161 potential in Hg-2024-06-05 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 1.469 meV/atom and 0.0104 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.2 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p4_Hg__MO_010007700161_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Hg"]
 "title" "Polynomial machine learning potential for Hg developed by Seko (2024) v000"
 }
