{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for W system. This potential is polymlp-00281 potential in W-2024-07-19 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 3.441 meV/atom and 0.1201 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 7.32 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p3_W__MO_010020900281_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["W"]
 "title" "Polynomial machine learning potential for W developed by Seko (2024) v000"
 }
