{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_SiCu__MO_020099710050_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Si" "Cu"]
 "title" "Polynomial machine learning potential for Si-Cu developed by Seko (2022) v000"
 }
