{"domain" "openkim.org"
 "contributor-id" "b3113743-4f85-48da-86e1-85acf6bb3388"
 "content-origin" "Ported from pypolymlp"
 "description" "Model driver that supports calculations using polynomial machine learning potentials including hybrid types."
 "developer" ["b3113743-4f85-48da-86e1-85acf6bb3388"]
 "maintainer-id" "b3113743-4f85-48da-86e1-85acf6bb3388"
 "extended-id" "Polymlp__MD_367995833009_000"
 "kim-api-version" "2.3"
 "publication-year" "2026"
 "source-citations" [{"author" "Seko, A. and Togo, A. and Tanaka, I."
                      "doi" "10.1103/PhysRevB.99.214108"
                      "journal" "Phys. Rev. B"
                      "pages" "214108"
                      "recordkey" "MD_000000123456_005a"
                      "recordprimary" "recordprimary"
                      "recordtype" "article"
                      "title" "Group-theoretical high-order rotational invariants for structural representations: Application to linearized machine learning interatomic potential"
                      "volume" "99"
                      "year" "2019"}
                     {"author" "Seko, A."
                      "doi" "10.1103/PhysRevB.102.174104"
                      "journal" "Phys. Rev. B"
                      "pages" "174104"
                      "recordkey" "MD_000000123456_005b"
                      "recordprimary" "recordprimary"
                      "recordtype" "article"
                      "title" "Machine learning potentials for multicomponent systems: The Ti-Al binary system"
                      "volume" "102"
                      "year" "2020"}
                      {"author" "Seko, A."
                      "doi" "10.1063/5.0129045"
                      "journal" "J. Appl. Phys."
                      "pages" "011101"
                      "recordkey" "MD_000000123456_005c"
                      "recordprimary" "recordprimary"
                      "recordtype" "article"
                      "title" "Tutorial: Systematic development of polynomial machine learning potentials for elemental and alloy systems"
                      "volume" "133"
                      "year" "2023"
                      }]
 "title" "Model driver for polynomial machine learning potentials ported from pypolymlp v000"}
