{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Ca-Ti system. This potential is gtinv-436 potential in Ca-Ti-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 3.389 meV/atom and 0.0672 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 2.45 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p4_CaTi__MO_020019520436_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Ca" "Ti"]
 "title" "Polynomial machine learning potential for Ca-Ti developed by Seko (2022) v000"
 }
