{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Al-V system. This potential is gtinv-163 potential in Al-V-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 9.3 meV/atom and 0.1452 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 2.37 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p2_AlV__MO_020011220163_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Al" "V"]
 "title" "Polynomial machine learning potential for Al-V developed by Seko (2022) v000"
 }
