{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for La system. This potential is polymlp-00155 potential in La-2024-06-05 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 2.99 meV/atom and 0.0562 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.83 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p2_La__MO_010009500155_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["La"]
 "title" "Polynomial machine learning potential for La developed by Seko (2024) v000"
 }
