{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Os system. This potential is polymlp-00187 potential in Os-2024-06-05 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 3.924 meV/atom and 0.1405 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 2.59 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p3_Os__MO_010012400187_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Os"]
 "title" "Polynomial machine learning potential for Os developed by Seko (2024) v000"
 }
