{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Ca-Ag system. This potential is gtinv-416 potential in Ca-Ag-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 0.882 meV/atom and 0.0147 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.19 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p5_CaAg__MO_020014920416_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Ca" "Ag"]
 "title" "Polynomial machine learning potential for Ca-Ag developed by Seko (2022) v000"
 }
