{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Ag system. This potential is polymlp-00064 potential in Ag-2024-06-05 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 1.84 meV/atom and 0.0128 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.16 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p1_Ag__MO_010000000064_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Ag"]
 "title" "Polynomial machine learning potential for Ag developed by Seko (2024) v000"
 }
