{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Hg system. This potential is polymlp-00038 potential in Hg-2024-06-05 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 3.048 meV/atom and 0.0142 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.15 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p1_Hg__MO_010007400038_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Hg"]
 "title" "Polynomial machine learning potential for Hg developed by Seko (2024) v000"
 }
