{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for K-Zn system. This potential is gtinv-725 potential in K-Zn-2022-07-21 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 3.611 meV/atom and 0.0297 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.48 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p2_KZn__MO_020027720725_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["K" "Zn"]
 "title" "Polynomial machine learning potential for K-Zn developed by Seko (2022) v000"
 }
