{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Si-Sn system. This potential is gtinv-182 potential in Si-Sn-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 3.273 meV/atom and 0.0632 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.52 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p1_SiSn__MO_020051720182_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Si" "Sn"]
 "title" "Polynomial machine learning potential for Si-Sn developed by Seko (2022) v000"
 }
