{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Mg-Cu system. This potential is pair-60 potential in Mg-Cu-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 2.846 meV/atom and 0.0429 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.34 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p4_MgCu__MO_020038910060_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Mg" "Cu"]
 "title" "Polynomial machine learning potential for Mg-Cu developed by Seko (2022) v000"
 }
