{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Li-Mg system. This potential is gtinv-725 potential in Li-Mg-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 1.767 meV/atom and 0.02 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.48 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p3_LiMg__MO_020033520725_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Li" "Mg"]
 "title" "Polynomial machine learning potential for Li-Mg developed by Seko (2022) v000"
 }
