{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_AlIn__MO_020013510050_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Al" "In"]
 "title" "Polynomial machine learning potential for Al-In developed by Seko (2022) v000"
 }
