{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Ta system. This potential is polymlp-00192 potential in Ta-2024-07-19 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 4.022 meV/atom and 0.1283 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 2.62 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p3_Ta__MO_010018600192_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Ta"]
 "title" "Polynomial machine learning potential for Ta developed by Seko (2024) v000"
 }
