{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2024_Li__MO_010027500122_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Li"]
 "title" "Polynomial machine learning potential for Li developed by Seko (2024) v000"
 }
