{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Ti system. This potential is polymlp-00105 potential in Ti-2024-06-05 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 3.997 meV/atom and 0.1089 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.77 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p4_Ti__MO_010019500105_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Ti"]
 "title" "Polynomial machine learning potential for Ti developed by Seko (2024) v000"
 }
