{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_MgCu__MO_020078110060_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Mg" "Cu"]
 "title" "Polynomial machine learning potential for Mg-Cu developed by Seko (2022) v000"
 }
