{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Na-Ga system. This potential is pair-60 potential in Na-Ga-2022-06-17 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 4.493 meV/atom and 0.0534 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.34 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p1_NaGa__MO_020044110060_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Na" "Ga"]
 "title" "Polynomial machine learning potential for Na-Ga developed by Seko (2022) v000"
 }
