{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Hf system. This potential is polymlp-00185-hybrid-0011 potential in Hf-2024-06-10-hybrid taken from Polynomial MLP Repository. The RMS errors for energy and forces are 3.275 meV/atom and 0.0951 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 2.58 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p1hybrid_Hf__MO_110001718511_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Hf"]
 "title" "Polynomial machine learning potential for Hf developed by Seko (2024) v000"
 }
