{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Cu system. This potential is polymlp-00284 potential in Cu-2024-06-05 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 0.297 meV/atom and 0.0077 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 9.95 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p5_Cu__MO_010005800284_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Cu"]
 "title" "Polynomial machine learning potential for Cu developed by Seko (2024) v000"
 }
