{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_CuAu__MO_020040620182_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Cu" "Au"]
 "title" "Polynomial machine learning potential for Cu-Au developed by Seko (2022) v000"
 }
