{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Zr system. This potential is polymlp-00074 potential in Zr-2024-07-19 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 4.745 meV/atom and 0.1054 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.82 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p1_Zr__MO_010022100074_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Zr"]
 "title" "Polynomial machine learning potential for Zr developed by Seko (2024) v000"
 }
