{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Ge system. This potential is polymlp-00165-hybrid-0004 potential in Ge-2024-06-06-hybrid taken from Polynomial MLP Repository. The RMS errors for energy and forces are 1.962 meV/atom and 0.0473 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 5.17 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p2hybrid_Ge__MO_110001616504_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Ge"]
 "title" "Polynomial machine learning potential for Ge developed by Seko (2024) v000"
 }
