{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Ta system. This potential is polymlp-00284 potential in Ta-2024-07-19 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 3.35 meV/atom and 0.1172 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 9.95 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p5_Ta__MO_010018800284_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Ta"]
 "title" "Polynomial machine learning potential for Ta developed by Seko (2024) v000"
 }
