{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Ca system. This potential is polymlp-00252 potential in Ca-2024-06-05 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 0.33 meV/atom and 0.0054 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 5.24 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p5_Ca__MO_010003800252_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Ca"]
 "title" "Polynomial machine learning potential for Ca developed by Seko (2024) v000"
 }
