{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Na-Pb system. This potential is gtinv-421 potential in Na-Pb-2022-07-21 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 1.544 meV/atom and 0.0257 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.57 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p4_NaPb__MO_020046320421_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Na" "Pb"]
 "title" "Polynomial machine learning potential for Na-Pb developed by Seko (2022) v000"
 }
