{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Be system. This potential is polymlp-00103-hybrid-0002 potential in Be-2024-06-06-hybrid taken from Polynomial MLP Repository. The RMS errors for energy and forces are 2.915 meV/atom and 0.0542 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.63 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p1hybrid_Be__MO_110001010302_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Be"]
 "title" "Polynomial machine learning potential for Be developed by Seko (2024) v000"
 }
