{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Tl system. This potential is polymlp-00064 potential in Tl-2024-07-19 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 3.361 meV/atom and 0.0235 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.16 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p1_Tl__MO_010019700064_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Tl"]
 "title" "Polynomial machine learning potential for Tl developed by Seko (2024) v000"
 }
