{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_CaGa__MO_020032320722_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Ca" "Ga"]
 "title" "Polynomial machine learning potential for Ca-Ga developed by Seko (2022) v000"
 }
