{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_CaSc__MO_020010120441_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Ca" "Sc"]
 "title" "Polynomial machine learning potential for Ca-Sc developed by Seko (2022) v000"
 }
