{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for K-In system. This potential is gtinv-260 potential in K-In-2022-10-13 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 1.232 meV/atom and 0.0197 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.17 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p4_KIn__MO_020026420260_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["K" "In"]
 "title" "Polynomial machine learning potential for K-In developed by Seko (2022) v000"
 }
