{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_ZnAg__MO_020108910060_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Zn" "Ag"]
 "title" "Polynomial machine learning potential for Zn-Ag developed by Seko (2022) v000"
 }
