{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2024_Be__MO_010010400097_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Be"]
 "title" "Polynomial machine learning potential for Be developed by Seko (2024) v000"
 }
