{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_AlAg__MO_020006320416_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Al" "Ag"]
 "title" "Polynomial machine learning potential for Al-Ag developed by Seko (2022) v000"
 }
