{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Li-Cu system. This potential is gtinv-759 potential in Li-Cu-2022-06-17 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 2.189 meV/atom and 0.0247 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.6 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p4_LiCu__MO_020031620759_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Li" "Cu"]
 "title" "Polynomial machine learning potential for Li-Cu developed by Seko (2022) v000"
 }
