{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_AlY__MO_020022120272_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Al" "Y"]
 "title" "Polynomial machine learning potential for Al-Y developed by Seko (2022) v000"
 }
