{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Be-Si system. This potential is gtinv-269 potential in Be-Si-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 3.102 meV/atom and 0.0629 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.46 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p4_BeSi__MO_020013820269_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Be" "Si"]
 "title" "Polynomial machine learning potential for Be-Si developed by Seko (2022) v000"
 }
