{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Al-Cu system. This potential is pair-60 potential in Al-Cu-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 4.85 meV/atom and 0.0629 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.34 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p1_AlCu__MO_020004810060_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Al" "Cu"]
 "title" "Polynomial machine learning potential for Al-Cu developed by Seko (2022) v000"
 }
