{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_ZnGa__MO_020110810049_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Zn" "Ga"]
 "title" "Polynomial machine learning potential for Zn-Ga developed by Seko (2022) v000"
 }
