{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Mg system. This potential is polymlp-00164 potential in Mg-2024-06-05 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 0.556 meV/atom and 0.0057 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 2.84 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p5_Mg__MO_010010800164_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Mg"]
 "title" "Polynomial machine learning potential for Mg developed by Seko (2024) v000"
 }
