{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Mg-Sn system. This potential is gtinv-182 potential in Mg-Sn-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 2.181 meV/atom and 0.0337 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.52 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p3_MgSn__MO_020042320182_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Mg" "Sn"]
 "title" "Polynomial machine learning potential for Mg-Sn developed by Seko (2022) v000"
 }
