{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for K-Sn system. This potential is gtinv-416 potential in K-Sn-2022-07-21 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 2.91 meV/atom and 0.0384 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.19 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p3_KSn__MO_020027320416_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["K" "Sn"]
 "title" "Polynomial machine learning potential for K-Sn developed by Seko (2022) v000"
 }
