{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Cs system. This potential is polymlp-00223 potential in Cs-2024-06-05 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 0.285 meV/atom and 0.0008 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 3.24 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p5_Cs__MO_010005300223_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Cs"]
 "title" "Polynomial machine learning potential for Cs developed by Seko (2024) v000"
 }
