{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Na system. This potential is polymlp-00106 potential in Na-2024-06-05 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 0.934 meV/atom and 0.003 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.02 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p3_Na__MO_010011400106_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Na"]
 "title" "Polynomial machine learning potential for Na developed by Seko (2024) v000"
 }
