{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Na-Si system. This potential is gtinv-260 potential in Na-Si-2022-07-21 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 3.539 meV/atom and 0.0728 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.17 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p3_NaSi__MO_020046720260_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Na" "Si"]
 "title" "Polynomial machine learning potential for Na-Si developed by Seko (2022) v000"
 }
