{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Na-In system. This potential is pair-51 potential in Na-In-2022-06-17 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 3.138 meV/atom and 0.0363 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.12 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p2_NaIn__MO_020045110051_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Na" "In"]
 "title" "Polynomial machine learning potential for Na-In developed by Seko (2022) v000"
 }
