{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_AgAu__MO_020000210050_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Ag" "Au"]
 "title" "Polynomial machine learning potential for Ag-Au developed by Seko (2022) v000"
 }
