{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2024_Al__MO_010004600191_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Al"]
 "title" "Polynomial machine learning potential for Al developed by Seko (2024) v000"
 }
