{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Al-Au system. This potential is gtinv-436 potential in Al-Au-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 1.989 meV/atom and 0.0372 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 2.45 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p4_AlAu__MO_020003620436_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Al" "Au"]
 "title" "Polynomial machine learning potential for Al-Au developed by Seko (2022) v000"
 }
