{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Ca-Ga system. This potential is gtinv-272 potential in Ca-Ga-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 2.024 meV/atom and 0.0367 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.99 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p3_CaGa__MO_020016220272_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Ca" "Ga"]
 "title" "Polynomial machine learning potential for Ca-Ga developed by Seko (2022) v000"
 }
