{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_KAu__MO_020049720257_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["K" "Au"]
 "title" "Polynomial machine learning potential for K-Au developed by Seko (2022) v000"
 }
