{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Si-Ga system. This potential is gtinv-194 potential in Si-Ga-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 2.522 meV/atom and 0.0504 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.12 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p4_SiGa__MO_020050120194_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Si" "Ga"]
 "title" "Polynomial machine learning potential for Si-Ga developed by Seko (2022) v000"
 }
