{"content-origin" "Ported from pypolymlp"
 "domain" "openkim.org"
 "extended-id" "Polymlp__MD_000000123456_000"
 "kim-api-version" "2.2"
 "publication-year" "2026"
 "title" "Model driver for polynomial machine learning potentials ported from pypolymlp v000"}
