{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Na-Al system. This potential is gtinv-416 potential in Na-Al-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 1.312 meV/atom and 0.0223 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.19 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p5_NaAl__MO_020044020416_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Na" "Al"]
 "title" "Polynomial machine learning potential for Na-Al developed by Seko (2022) v000"
 }
