{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Al-Ag system. This potential is gtinv-272 potential in Al-Ag-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 1.52 meV/atom and 0.0276 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 1.99 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p4_AlAg__MO_020003120272_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Al" "Ag"]
 "title" "Polynomial machine learning potential for Al-Ag developed by Seko (2022) v000"
 }
