{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Te system. This potential is polymlp-00136-hybrid-0008 potential in Te-2024-06-11-hybrid taken from Polynomial MLP Repository. The RMS errors for energy and forces are 4.93 meV/atom and 0.0893 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 3.46 ms/atom/step."
 "extended-id" "Polymlp_Seko_2024p1hybrid_Te__MO_110003313608_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Te"]
 "title" "Polynomial machine learning potential for Te developed by Seko (2024) v000"
 }
