{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2024_Re__MO_010038100187_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Re"]
 "title" "Polynomial machine learning potential for Re developed by Seko (2024) v000"
 }
