{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2024_Mg__MO_010028800019_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2024"
 "species" ["Mg"]
 "title" "Polynomial machine learning potential for Mg developed by Seko (2024) v000"
 }
