{"domain" "openkim.org"
 "extended-id" "Polymlp_Seko_2022_AlPt__MO_020005020441_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Al" "Pt"]
 "title" "Polynomial machine learning potential for Al-Pt developed by Seko (2022) v000"
 }
