{"domain" "openkim.org"
 "description" "Polynomial machine learning potential (MLP) for Ag-In system. This potential is gtinv-722 potential in Ag-In-2022-06-12 taken from Polynomial MLP Repository. The RMS errors for energy and forces are 4.595 meV/atom and 0.0387 eV/angstrom, respectively. The estimated computational cost required for a single core calculation is 0.27 ms/atom/step."
 "extended-id" "Polymlp_Seko_2022p2_AgIn__MO_020001120722_000"
 "kim-api-version" "2.2"
 "model-driver" "Polymlp__MD_000000123456_000"
 "potential-type" "polymlp"
 "publication-year" "2022"
 "species" ["Ag" "In"]
 "title" "Polynomial machine learning potential for Ag-In developed by Seko (2022) v000"
 }
